<%- include('header') %>

    <div class="jumbotron centered">
      <div class="container">
        <h1>successfully logged in:)</h1>
        <hr>
        <a class="btn btn-dark btn-lg" href="/" role="button">Home page</a>
    
      </div>

  <%- include('footer') %>
